# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS folder view files
Icon?
._*

# macOS metadata for network volumes
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
ENV/
env/
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
#  Usually contains the output of a PyInstaller build
dist/
build/
*.spec

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test results
*.pytest_cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/

# Poetry
poetry.lock
